<%- include ('common/head')-%> 
<%- include ('common/sidebar')-%>

<!-- ======== main-wrapper start =========== -->
<main class="main-wrapper">
  <%- include ('common/navbar')-%>

  <!-- ========== section start ========== -->
  <h1 style="display: flex; justify-content: center;">Pour Technologies</h1>
  <!-- ========== section end ========== -->
  <%- include ('common/footer')-%>
</main>
<!-- ======== main-wrapper end =========== -->

<%- include ('common/foot')-%>
