<%- include ('common/head')-%> <%- include ('common/sidebar')-%>
        <!-- ======== main-wrapper start =========== -->
        <main class="main-wrapper">
            <%- include ('common/navbar')-%>

                <!-- ========== tab components start ========== -->
                <section class="tab-components">
                    <div class="container-fluid">
                        <!-- ========== title-wrapper start ========== -->
                        <div class="title-wrapper pt-30">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <div class="title">
                                        <h2>Service Details Edit</h2>
                                    </div>
                                </div>
                                <!-- end col -->
                                <!-- <div class="col-md-6">
            <div class="breadcrumb-wrapper">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="#0">Dashboard</a>
                  </li>
                  <li class="breadcrumb-item"><a href="#0">Forms</a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Form Elements
                  </li>
                </ol>
              </nav>
            </div>
          </div> -->
                                <!-- end col -->
                            </div>
                            <!-- end row -->
                        </div>
                        <!-- ========== title-wrapper end ========== -->

                        <!-- ========== form-elements-wrapper start ========== -->
                        <div class="form-elements-wrapper">
                            <div class="row">
                                <div class="col-lg-6">
                                    <!-- input style start -->

                                    <div class="card-style mb-30">
                                        <h6 class="mb-25">Input Fields</h6>
                                        <form action="/admin/updateService-details" method="post" enctype="multipart/form-data">
                                          <input type="hidden" name="singleserviceId" value="<%=serviceED._id%>">
                                      
                                          <div class="input-style-3">
                                            <input type="text" name="title" placeholder="Title" required value="<%= serviceED.title%>" />
                                            <span class="icon"><i class="lni lni-text-format"></i></span>
                                          </div>
                                      
                                          <div class="input-style-3">
                                            <input type="text" name="subtitle" placeholder="Subtitle" required value="<%= serviceED.subtitle%>">
                                            <span class="icon"><i class="lni lni-text-format"></i></span>
                                          </div>
                                      
                                          <div class="input-style-3">
                                            <textarea name="about" placeholder="About" rows="5" required><%= serviceED.about%></textarea>
                                            <span class="icon"><i class="lni lni-text-format"></i></span>
                                          </div>
                                      
                                          <div class="input-style-3">
                                            <input type="text" name="technology1" placeholder="Technology 1" value="<%= serviceED.technology1%>">
                                            <span class="icon"><i class="lni lni-text-format"></i></span>
                                          </div>
                                      
                                          <div class="input-style-3">
                                            <input type="text" name="technology2" placeholder="Technology 2" value="<%= serviceED.technology2%>">
                                            <span class="icon"><i class="lni lni-text-format"></i></span>
                                          </div>
                                      
                                          <div class="input-style-3">
                                            <input type="text" name="technology3" placeholder="Technology 3" value="<%= serviceED.technology3%>">
                                            <span class="icon"><i class="lni lni-text-format"></i></span>
                                          </div>
                                      
                                          <div class="input-style-3">
                                            <input type="text" name="technology4" placeholder="Technology 4" value="<%= serviceED.technology4%>">
                                            <span class="icon"><i class="lni lni-text-format"></i></span>
                                          </div>
                                      
                                          <div class="input-style-3">
                                            <input type="text" name="technology5" placeholder="Technology 5" value="<%= serviceED.technology5%>">
                                            <span class="icon"><i class="lni lni-text-format"></i></span>
                                          </div>
                                      
                                          <div class="input-style-3">
                                            <input type="text" name="technology6" placeholder="Technology 6" value="<%= serviceED.technology6%>">
                                            <span class="icon"><i class="lni lni-text-format"></i></span>
                                          </div>
                                      
                                          <div class="input-style-3">
                                            <input type="text" name="technology7" placeholder="Technology 7" value="<%= serviceED.technology7%>">
                                            <span class="icon"><i class="lni lni-text-format"></i></span>
                                          </div>
                                      
                                          <div class="input-style-3">
                                            <input type="text" name="technology8" placeholder="Technology 8" value="<%= serviceED.technology8%>">
                                            <span class="icon"><i class="lni lni-text-format"></i></span>
                                          </div>
                                      
                                          <div class="input-style-3">
                                            <input type="file" name="image" required multiple placeholder="Technology Image">
                                            <span class="icon"><i class="lni lni-text-format"></i></span>
                                          </div>
                                          <input class="main-btn active-btn rounded-full btn-hover" value="Submit" type="submit" />
                                          <!-- end input -->
                                        </form>
                                    <!-- end card -->
                                    <!-- ======= input style end ======= -->
                                </div>
                                <!-- end col -->
                                <!-- end col -->
                            </div>
                            <!-- end row -->
                        </div>
                        <!-- ========== form-elements-wrapper end ========== -->
                    </div>
                    <!-- end container -->
                </section>
                <!-- ========== tab components end ========== -->
                <%- include ('common/footer')-%>
        </main>
        <!-- ======== main-wrapper end =========== -->
        <%- include ('common/foot')-%>